## Compiled JavaScript files
**/stc/**/*.js
**/src/**/*.js.map

# Typescript v1 declaration files
typings/

# Node Modules
node_modules/

# Intellij Project
.idea/

# Env files
*.env

# Dist files
dist/
